{% extends 'temp/login.html' %}
{% block admin %}

 		<h1 align="center" class="style1">&nbsp;</h1>
 		<p align="center"><span class="style1">SIGN IN FORM</span></p>
    <form method="post">
{% csrf_token %}
 		<table width="379" height="209" align="center" >
          <tr>

            <td width="132">USERNAME</td>
            <td width="165"><input type="text" name="uname" placeholder="Enter your username" required="">
            </td>
          </tr>
          <tr>
            <td>PASSWORD</td>
            <td><input type="password" name="pass" placeholder="Enter your password" required="" >
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit"  value="LOGIN" ></td>
			</tr>
			<tr><td></td>
            <td width="66"><a href="#">Forgotpassword?</a></td>
          </tr>
		  <tr><td></td>
            <td width="66"><a href="#">NewUser?Signup </a></td>
          </tr>
        </table>
 	</form>
{% endblock %}