<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center">
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Image</td>
        <td>Date</td>

    </tr>
    {% if objval %}
    {% for ob in objval %}
    <tr>
        <td>{{ ob.title }}</td>
         <td>{{ ob.description}}</td>
         <td>{{ ob.image}}</td>
       <td>{{ ob.date}}</td>
    </tr>
    {% endfor %}
   {% endif %}



</table>

</body>
</html>